{% block css %}
<style>
  #id_search{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  #id_submit{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
</style>
{% endblock %}
<form action="">
  <div class="d-flex">
    <div class="mb-3 w-100">
      <input type="text" class="form-control" name="skills" id="id_search" placeholder="Type your skills"autocomplete="off" required>
    </div>
    <div class="mb-3 w-100">
      <input type="text" class="form-control" name="locations" id="id_location" placeholder="Type location, locality"autocomplete="off" required>
    </div>
    <div class="mb-3 w-25">
      <input type="submit" class="btn btn-secondary w-100" id="id_submit">
    </div>
  </div>
</form>