.btn-primary {
    background-color: #eed484!important;
    color: black;
    border: none;
}
.bg-primary {
    background-color: #eed484!important;
    color: black;
    border: none;
}
.card {
    background-color: #fff;
    padding: 20px;
}

.pagination > .active > a{
    color: white;
    background-color: #eed484;
}

.job_detail {
    margin: 0;
    color: var(--cretech-black, #12062c);
    font-size: 45px;
    letter-spacing: -0.05em;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 20px;
  }
  .job_detail_title{
    color: var(--cretech-black, #12062c);
    font-weight: bold;
    margin-bottom: 20px;
  }
  .service-card-three {
    height: 350px;
  }
.row {
    --bs-gutter-x: 16px;
}
.submit_button {
    background-color: var(--cretech-primary,  #eed484);
    color: rgb(5, 5, 5);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    display: inline-block;
    padding-bottom: 8px;
    padding-top: 7px;
    margin-bottom: 2px;
    overflow: hidden;
    -webkit-transition: all .35s;
    transition: all .35s;
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
.submit_button:hover {
  background-color: var(--cretech-secondary,  #0e0b01);
  color: #fff;
}
.recommended-card{
  width: 350px;
}
@media (max-width: 1200px) {
  .recommended-card{
    width: 300px;
  }
}