{% extends 'base.html' %}
{% load static humanize %}
{% block css %}
<style>
.error{
    color:red;
}
</style>
{% endblock %}
{% block content %}
<div class="page-header">
  <div class="page-header__bg"
    style="background-image: url({% static 'assets/images/background/page-header-bg-1-1.jpg' %});"></div>
  <!-- /.page-header__bg -->
  <div class="container">
    <ul class="thm-breadcrumb list-unstyled">
      <li><a href="{% url 'job:home' %}">Home</a></li>
      <li>Job Details</li>
    </ul>
    <h2 class="page-header__title">Job Details</h2><!-- /.page-header__title -->
  </div><!-- /.container -->
</div><!-- /.page-header -->
<div class="container section-padding--top">
  <h3 class="text-center">Job descriptions </h3>
  <div class="row">
    <div class="col-md-10 offset-sm-1">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{job.job_title}}</h4>
          <p class="card-text">{{job.job_description|safe}}{{job.media}}</p>

          <div class="row">
            <div class="col-sm-3">
              Role
            </div>
            <div class="col-sm-9">
             : <strong>{{job.role}}</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              Place
            </div>
            <div class="col-sm-9">
              : <strong>{{job.place}}</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              Country
            </div>
            <div class="col-sm-9">
              : <strong>{{job.country}}</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              Employement type
            </div>
            <div class="col-sm-9">
              : <strong>{{job.employement_type}}</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              Salary
            </div>
            <div class="col-sm-9">
              : <strong>{{job.salary}}</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              Required skills
            </div>
            <div class="col-sm-9">
              : <strong>{% for skill in job.skill_set.all %}<h6 class="badge bg-primary rounded-pill me-3 p-2">{{skill.name}}</h6>{% endfor %}</strong>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-3">
              Industry
            </div>
            <div class="col-sm-9">
              : <strong>{{job.industry}}</strong> 
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              Functional area
            </div>
            <div class="col-sm-9">
              : <strong>{{job.functional_area}}</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              Published at
            </div>
            <div class="col-sm-9">
              : <strong>{{job.published_at|naturaltime}}</strong>
            </div>
          </div>
        </div>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseApplyJob" role="button" aria-expanded="false" aria-controls="collapseApplyJob">Apply Now </a>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="collapseApplyJob">
            <div class="card">
              <div class="card-body">
                  <form action="{% url 'job:apply_job' job.slug %}" method="post" id="id_apply_job" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="id_name" class="form-label">Your name</label>
                          {{user_form.name}}
                      </div>

                      <div class="mb-3">
                          <label for="id_mobile" class="form-label">Your mobile no</label>
                          {{user_form.mobile}}
                      </div>

                      <div class="mb-3">
                          <label for="id_job_title" class="form-label">Your notice period</label>
                          {{applicant_form.notice_period}}
                      </div>

                      <div class="mb-3">
                        <label for="id_linkedin_link" class="form-label">Your linkedin link</label><br>
                        {{applicant_form.linkedin_link}}
                      </div>

                      <div class="mb-3">
                        <label for="id_qualitative_skills" class="form-label">Your qualitative skills</label><br>
                        {{applicant_form.qualitative_skills}}
                      </div>
                      
                      <div class="mb-3">
                        <label for="id_subject" class="form-label">Subject (Please mention the Role you are applying)</label><br>
                        {{applicant_form.subject}}
                      </div>

                      <div class="mb-3">
                        <label for="id_message" class="form-label">Message</label>
                        {{applicant_form.message}}
                      </div>

                      <div class="mb-3">
                          <label for="id_resume" class="form-label">Upload your resume (pdf format)</label><br>
                          {{applicant_form.resume}}
                      </div>

                      <button type="submit"class="btn btn-primary w-100" {% if check_applied_condition %}disabled{% endif %}>{% if  check_applied_condition %}You have already applied for this job{% else %}Apply{% endif %}</button>
                  </form>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if related_jobs %}
<section class="service-four gray-bg section-padding-xl--bottom section-has-bottom-margin background-repeat-no background-position-top-right section-padding--top">
	<div class="container">
    <h3>Similar Jobs</h3><hr><hr>
		<div class="row g-3">
        {% for job in related_jobs %}
        <div class="col-sm-3">
            <div class="item">
                <div class="service-card-three">
                    <div class="service-card-three__icon">
                        <i class="icon-new-product"></i>
                    </div><!-- /.service-card-three__icon -->
                    <div class="service-card-three__content">
                        <h3 class="service-card-three__title"><a href="{% url 'job:job_detail' slug=job.slug %}">{{job.job_title}}</a></h3><!-- /.service-card-three__title -->
                        <div class="service-card-three__text">No of Position: {{job.no_of_openings}} </div><!-- /.service-card-three__text -->
                        <div class="service-card-three__text">Place: {{job.place}} </div><!-- /.service-card-three__text -->
                        <a href="{% url 'job:job_detail' slug=job.slug %}" class="blog-card-one__more">Read More <i class="fa fa-arrow-right"></i> </a><!-- /.service-card-three__text -->
                    </div><!-- /.service-card-three__content -->
                </div><!-- /.service-card-three -->
            </div><!-- /.item -->
        </div>
        {% endfor %}
        </div>
	</div><!-- /.container -->
</section>
{% endif %}
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/dashboard/validation.js' %}"></script>
<script src="{% static 'js/dashboard/job_preview.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{% static 'js/dashboard/skills_add.js' %}"></script>
{% endblock javascript %}