{% load static i18n compress%}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<!--THEME CREATED FOR MSCTECHNOLOGY -->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MSCTECHNOLOGY{% endblock title %}</title>
	<!-- google font -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
		rel="stylesheet">
	<!-- favicons Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicons/apple-touch-icon.png' %}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicons/favicon-32x32.png' %}" />
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicons/favicon-16x16.png' %}" />
	<link rel="manifest" href="{% static 'assets/images/favicons/site.webmanifest' %}" />
    {% block css %}{% endblock %}
	<!-- plugins css -->
    {% compress css %}
	<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendors/jarallax/jarallax.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendors/animate/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/assets/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/assets/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendors/cretech-icons/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendors/youtube-popup/youtube-popup.css' %}">
	<!-- templates css -->
	<link rel="stylesheet" href="{% static 'assets/css/cretech.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% endcompress %}
</head>
<body class="custom-cursor">
	<div class="custom-cursor__cursor"></div>
	<div class="custom-cursor__cursor-two"></div>
	<div class="preloader">
		<div class="preloader__circle"></div>
	</div>
	<div class="page-wrapper">
		<header class="header-two">
			<div class="topbar-two">
				<div class="container">
					<div class="topbar-two__inner">
						<div class="topbar-two__logo">
							<a href="/">
								<img src="{% static 'assets/images/logo-dark.png' %}" width="200" height="55" alt="MSC TECHNOLOGY">
							</a>
						</div><!-- /.topbar-two__logo -->
						<ul class="topbar-two__list">
							
						</ul><!-- /.topbar-two__list -->
						<div class="topbar-two__btns">
							<a href="{% url 'job:job_list' %}" class="thm-btn topbar-two__btn"><span>CURRENT OPENING</span></a>
							<!-- /.thm-btn topbar-two__btn -->
						</div><!-- /.topbar-two__btns -->
					</div><!-- /.topbar-two__inner -->
				</div><!-- /.container -->
			</div><!-- /.topbar-two -->
			<nav class="main-menu sticky-header">
				<div class="container">
					<div class="main-menu__inner">
						<div class="main-menu__logo">
							<a href="index-2.html">
								<img src="{% static 'assets/images/logo-light.png' %}" width="200" height="55" alt="MSC TECHNOLOGY">
							</a>
						</div><!-- /.main-menu__logo -->
						<ul class="main-menu__list">
							<li class="menu-item-has-children">
							<a href="/">Home</a>
								</li>
							<li class="menu-item-has-children">
								<a href="#">About Us</a>
							<ul>
									<li><a href="#">Who we are</a></li>
									<li><a href="#">Group Profile</a></li>
									<li><a href="#">Our Values</a></li>
									<li><a href="#">Top Management</a></li>
									<li><a href="#">Corporate Culture</a></li>
									<li><a href="#">Certification</a></li>
							</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="{% url 'job:job_list' %}">Career</a>
								<ul>
								<li><a href="{% url 'job:job_list' %}">Current Opening</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="#">News Center</a>
								<ul>
									<li><a href="#">Latest Insight</a></li>
									<li><a href="#">Media Coverage</a></li>
								</ul>
							</li>
							<li><a href="#">Contact</a></li>
							{% if not request.user.is_authenticated %}
							<li><a href="{% url 'account_login' %}">Login</a></li>
							<li><a href="{% url 'account_signup' %}">Register</a></li>
							{% else %}
							<li><a href="{% url 'account_logout' %}">Logout</a></li>
							{% endif %}
							{% if request.user.role == 0 or request.user.role == 1%}
							<li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
							{% endif %}
						</ul><!-- /.main-menu__list -->
						<div class="main-menu__right">
							<a href="#" class="mobile-nav__toggler">
								<span></span>
								<span></span>
								<span></span>
							</a>
							<a href="#" class="search-toggler">
								<i class="icon-magnifying-glass"></i>
							</a><!-- /.search-toggler -->
						</div><!-- /.main-menu__right -->
					</div><!-- /.main-menu__inner -->
				</div><!-- /.container -->
			</nav><!-- /.main-menu -->
		</header><!-- /.header-two -->
        {% block message %}
		{% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
		{% endblock message %}
		{% block content %}{% endblock %}

		<section class="section-padding--top section-padding--bottom service-three black-bg"
		style="background-image: url({% static 'assets/images/background/service-1-bg-1.png' %});">
		<div class="container">
			<div class="service-three__block">
				<div class="row">
					<div class="col-lg-7">
						<div class="section-title">
							
							<h2 class="section-title__title section-title__title--light">Key Benefits Working <BR>At MSC Technology</h2><!-- /.section-title__title -->
						</div><!-- /.section-title -->
					</div><!-- /.col-lg-7 -->
					<div class="col-lg-5">
						<div class="service-three__block__text">Accusa ntium doloremque laudantium totam rem
							aperiamea
							queipsa quae abillo inventore veritatis.</div><!-- /.service-three__block__text -->
					</div><!-- /.col-lg-5 -->
				</div><!-- /.row -->
			</div><!-- /.service-three__block -->
			<ul class="service-three__list">
				<li class="service-three__list__item wow fadeInUp" data-wow-duration="1500ms"
					data-wow-delay="000ms">
					<i class="icon-web-development service-three__list__icon"></i>
					<h3 class="service-three__list__title"><a href="#">WORK LIFE BALANCE</a></h3>
				</li>
				<li class="service-three__list__item wow fadeInUp" data-wow-duration="1500ms"
					data-wow-delay="100ms">
					<i class="icon-analysis service-three__list__icon"></i>
					<h3 class="service-three__list__title"><a href="#">LEARNING & DEVELOPMENT</a></h3>
				</li>
				<li class="service-three__list__item wow fadeInUp" data-wow-duration="1500ms"
					data-wow-delay="200ms">
					<i class="icon-consulting service-three__list__icon"></i>
					<h3 class="service-three__list__title"><a href="#">CUTTING TECHNOLOGIES ACCESS</a></h3>
				</li>
				<li class="service-three__list__item wow fadeInUp" data-wow-duration="1500ms"
					data-wow-delay="300ms">
					<i class="icon-iot service-three__list__icon"></i>
					<h3 class="service-three__list__title"><a href="#">FIRST CLASS WORK ENVIRONEMENT</a></h3>
				</li>
				<li class="service-three__list__item wow fadeInUp" data-wow-duration="1500ms"
					data-wow-delay="400ms">
					<i class="icon-cloud service-three__list__icon"></i>
					<h3 class="service-three__list__title"><a href="#">FAST PROGRESSION</a></h3>
				</li>
				<li class="service-three__list__item wow fadeInUp" data-wow-duration="1500ms"
					data-wow-delay="500ms">
					<i class="icon-group service-three__list__icon"></i>
					<h3 class="service-three__list__title"><a href="#">TALENT REWARDING</a></h3>
				</li>

				<li class="service-three__list__item wow fadeInUp" data-wow-duration="1500ms"
					data-wow-delay="500ms">
					<i class="icon-tv service-three__list__icon"></i>
					<h3 class="service-three__list__title"><a href="#">INTERNATIONAL</a></h3>
				</li>

				<li class="service-three__list__item wow fadeInUp" data-wow-duration="1500ms"
					data-wow-delay="500ms">
					<i class="icon-coding service-three__list__icon"></i>
					<h3 class="service-three__list__title"><a href="#">DEVELOPMENT OPPORTUNITIES</a></h3>
				</li>


			</ul><!-- /.service-three__list -->
		</div><!-- /.container -->
	</section>

	

		<div class="footer-main section-padding--top section-padding--bottom">
			<div class="container">
				<div class="row gutter-y-30">
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="footer-widget footer-widget--about">
							<a href="#" class="footer-widget__logo">
								<img src="{% static 'assets/images/logo-light.png' %}" width="119" height="40" alt="MSC TECHNOLOGY">
							</a>
							<div class="socialmedia-top"></div>
							<!-- /.footer-widget__text -->
							<ul class="footer-widget__social">
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul><!-- /.footer-widget__social -->
						</div><!-- /.footer-widget -->
					</div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
										<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="footer-widget footer-widget--newsletter">
							<h3 class="footer-widget__title">Quick link</h3><!-- /.footer-widget__title -->
							
							
							
							
							<ul class="footer-widget__links">
								<li>
									<a href="#">About us</a>
								</li>
								<li>
									<a href="#">Team</a>
								</li>
								<li>
									<a href="#">Career</a>
								</li>
								<li>
									<a href="#">Latest News</a>
								</li>
								<li>
									<a href="#">Media</a>
								</li>
							</ul><!-- /.footer-widget__links -->
							<!-- /.footer-widget__text -->

							
							
						</div><!-- /.footer-widget -->
					</div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="footer-widget footer-widget--contact">
							<h3 class="footer-widget__title">Contact</h3><!-- /.footer-widget__title -->
							
							<p class="footer-widget__links">INDIA<br>
								MSC Technology (India) pvt. Ltd<BR>
								Kosmo One, Tower-B,
								11th Floor, Plot No.14, III Main Road,<BR>
								Ambattur Industrial Estate, Chennai,
								TN, India <BR>Tel.: (+91) 44 7104 1700
							
						</p>
								
								<P class="footer-widget__links">
									
									ITALY <br>
									MSC Technology (Italia),<BR>
									Via Nizza, 262/Int.27,
									10125 Torino, Italia<BR>
									Tel.: (+39) 011 754 7200
								</P>

									<p class="footer-widget__links">SWITZERLAND<br>
									MSC Technology (Switzerland)<BR>
									Avenue Eugène-Pittard 16,
									1206 Genève, Switzerland<BR>
									Tel.: (+41) 22 703 88 88
								
									</P>
							
									<P class="footer-widget__links">USA<br>
									MSC Technology (North America)<BR>
									Corporate Headquarters<BR>
									160 Mount Bethel Road Warren,
									NJ 07059-5147<BR>
									Tel.: +1 (908) 605-4100
								</p>
							<!-- /.footer-widget__contact -->
						</div><!-- /.footer-widget -->
					</div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-main -->
		<div class="footer-bottom">
			<div class="container">
				<p>&copy; Copyright <span class="dynamic-year"></span>  <br>
					<a href="https://www.msc.com">An MSC Mediterranean Shipping Company</a></p>
			</div><!-- /.container -->
		</div><!-- /.footer-bottom -->
	</div><!-- /.page-wrapper -->


	<div class="mobile-nav__wrapper">
		<div class="mobile-nav__overlay mobile-nav__toggler"></div>
		<!-- /.mobile-nav__overlay -->
		<div class="mobile-nav__content">
			<a href="#" class="mobile-nav__close mobile-nav__toggler">
				<span></span>
				<span></span>
			</a>

			<div class="logo-box">
				<a href="#" aria-label="logo image"><img src="{% static 'assets/images/logo-light.png' %}" width="98"
						height="33" alt="MSC TECHNOLOGY"></a>
			</div>
			<!-- /.logo-box -->
			<div class="mobile-nav__container"></div>
			<!-- /.mobile-nav__container -->

			<ul class="mobile-nav__contact list-unstyled">
				<li>
					<i class="fa fa-phone"></i>
					<a href="tel:+447104 1700">+ 91 ( 44 ) 7104 1700</a>
				</li>
				<li>
					<i class="fa fa-envelope"></i>
					<a href="mailto:contact@msc-technology.com">contact@msc-technology.com</a>
				</li>
				<li>
					<i class="fa fa-map-marker-alt"></i>
					Kosmo One, Tower-B, 11th Floor, Plot No.14, III Main Road<br>
Ambattur Industrial Estate, <br> Chennai, TN, India
				</li>
			</ul><!-- /.mobile-nav__contact -->
			<ul class="mobile-nav__social">
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			</ul><!-- /.mobile-nav__social -->



		</div>
		<!-- /.mobile-nav__content -->
	</div>
	<!-- /.mobile-nav__wrapper -->

	<div class="search-popup">
		<div class="search-popup__overlay search-toggler"></div>
		<!-- /.search-popup__overlay -->
		<div class="search-popup__content">
			<form action="#">
				<label for="search" class="sr-only">search here</label><!-- /.sr-only -->
				<input type="text" id="search" placeholder="Search Here..." />
				<button type="submit" aria-label="search submit" class="thm-btn">
					<span><i class="icon-magnifying-glass"></i></span>
				</button>
			</form>
		</div>
		<!-- /.search-popup__content -->
	</div>
	<!-- /.search-popup -->

	<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

	<!-- plugins js -->
    {% compress js %}
	<script src="{% static 'assets/vendors/jquery/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'assets/vendors/jquery-validation/jquery.validate.min.js' %}"></script>
	<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'assets/vendors/jquery-appear/jquery.appear.min.js' %}"></script>
	<script src="{% static 'assets/vendors/wow/wow.js' %}"></script>
	<script src="{% static 'assets/vendors/jarallax/jarallax.min.js' %}"></script>
	<script src="{% static 'assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'assets/vendors/lettering-js/jquery.lettering.js' %}"></script>
	<script src="{% static 'assets/vendors/youtube-popup/youtube-popup.jquery.js' %}"></script>
	<!-- template js -->
	<script src="{% static 'assets/js/cretech.js' %}"></script>
    {% endcompress %}
    {% block javascript %}{% endblock javascript %}
</body>
</html>