{% extends 'dashboard/dashboard_base.html' %}
{% load hitcount_tags humanize %}
{% block dashboard_content %}
{% block dashboard_css %}
<style>
.fabutton {
    background: none;
    padding: 0px;
    border: none;
}
</style>
{% endblock dashboard_css %}
    <h3 class="text-center">Applicant lists</h3>
    <a href="{% url 'dashboard:export_applicant_list' %}"class="btn btn-secondary btn-sm float-end mb-2">Export Applicants </a>
  <table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">Mobile</th>
        <th scope="col" class="text-center">Email</th>
        <th scope="col" class="text-center">Notice period</th>
        <th scope="col" class="text-center">LinkedIn link</th>
        <th scope="col" class="text-center">Resume</th>
    </tr>
    </thead>
    <tbody>
        {% for applicant in applicant_list %}
        <tr>
        <th scope="row">{{ page_obj.start_index|add:forloop.counter0 }}</th>
        <td>{{applicant.user.name}}</td>
        <td>{{applicant.user.mobile}}</td>
        <td>{{applicant.user.email}}</td>
        <td>{{applicant.notice_period}}</td>
        <td><a href="{{applicant.linkedin_link}}" target="_blank">{{applicant.linkedin_link}}</a></td>
        <td><a href="{{applicant.resume.url}}">resume</a></td>
    </tr>
      {% endfor %}
    </tbody>
  </table>
{% include 'common/pagination.html' %}
{% endblock dashboard_content %}