{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags static %}
{% block dashboard_css %}
<style>
.error{
    color:red;
}
</style>
{% endblock dashboard_css %}
{% block dashboard_content %}
<h3 class="text-center">Upload job</h3>
<div class="col-md-8 offset-md-2 mb-4">
    
    <form action="." method="post" id="job_form">
        {% csrf_token %}
        <!-- {{form.as_p|safe}}{{form.media}} -->
        <div class="mb-3">
            <label for="id_skills" class="form-label">Skills</label>
            <input type="text" class="form-control" id="id_skills" placeholder="name@example.com">
          </div>

        <input type="submit" class="btn btn-primary w-100">
    </form>
</div>




<div class="field_wrapper">
    <div>
        <input type="text" name="field_name[]" value=""/>
        <a href="javascript:void(0);" class="add_button" title="Add field">Add</a>
    </div>
</div>



{% endblock dashboard_content %}
{% block dashboard_inline_javascript %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/dashboard/state_city.js' %}"></script>
<script src="{% static 'js/dashboard/validation.js' %}"></script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var maxField = 10; //Input fields increment limitation
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper
        var fieldHTML = '<div><input type="text" name="field_name[]" value=""/><a href="javascript:void(0);" class="remove_button">Remove</a></div>'; //New input field html 
        var x = 1; //Initial field counter is 1
        
        //Once add button is clicked
        $(addButton).click(function(){
            //Check maximum number of input fields
            if(x < maxField){ 
                x++; //Increment field counter
                $(wrapper).prepend(fieldHTML); //Add field html
            }
        });
        
        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button', function(e){
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });
    </script>

{% endblock dashboard_inline_javascript %}