{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags static %}
{% block dashboard_css %}
<style>
.error{
    color:red;
}
</style>
{% endblock dashboard_css %}
{% block dashboard_content %}
<h3 class="text-center">Upload job</h3>
<div class="col-md-8 offset-md-2 mb-4">
    
    <form action="." method="post" id="job_form">
        {% csrf_token %}
        {{form.as_p|safe}}{{form.media}}
        <input type="submit" class="btn btn-primary w-100">
    </form>
</div>
{% endblock dashboard_content %}
{% block dashboard_inline_javascript %}
<!-- <script src="https://cdn.tiny.cloud/1/4mnqx60ufc926moh608ov9fu4ufdzjcqcdo59ph5th6llnin/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
      selector: '#id_job_description',
      menubar: false,
    plugins: "link image code",
    toolbar: 'undo redo | styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link image | code'
    });
</script> -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/dashboard/state_city.js' %}"></script>
<script src="{% static 'js/dashboard/validation.js' %}"></script>
{% endblock dashboard_inline_javascript %}