{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags static %}
{% block dashboard_css %}
<style>
.error{
    color:red;
}
</style>
{% endblock dashboard_css %}
{% block dashboard_content %}
<h3 class="text-center">Upload job</h3>
<div class="col-md-8 offset-md-2 mb-4">
    
    <form action="." method="post" id="job_form">
        {% csrf_token %}
        {{form.as_p|safe}}{{form.media}}
        <p>
        <div class="field_wrapper1"> </div>
       
        <div class="mb-3">
          <label for="id_skills1" class="form-label">Skillset required</label>
          <input type="search" class="form-control" id="id_skills1" name="id_skills1" placeholder="Enter Skill" oninput="search_skills()">
        </div>
      </p>
        <button type="button" id="btnjobPreview" class="btn btn-secondary my-2" data-bs-toggle="modal" data-bs-target="#jobPrevModal">Preview</button>
        <input type="submit" class="btn btn-primary w-100">
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="jobPrevModal" tabindex="-1" aria-labelledby="jobPrevModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="jobPrevModalLabel">Preview job post</h5>
          <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                   <div id="divcontentPreview"></div> 
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
{% endblock dashboard_content %}
{% block dashboard_inline_javascript %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/dashboard/state_city.js' %}"></script>
<script src="{% static 'js/dashboard/validation.js' %}"></script>
<script src="{% static 'js/dashboard/job_preview.js' %}"></script>
<script src="{% static 'js/dashboard/skills_add.js' %}"></script>
{% endblock dashboard_inline_javascript %}